.crfw-pro-banner {
	background-color: #edd;
	border: 1px solid #a00;
	padding: 1em 2.5em 1em 2.5em;
	width: 80%;
	margin: auto;
	border-radius: 1em;
	a.button-primary {
		text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		background-color: #dd823b;
		border-color: #c36922;
		-webkit-box-shadow: inset 0 1px 0 #e8ac7c, 0 1px 0 rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 1px 0 #e8ac7c, 0 1px 0 rgba(0, 0, 0, 0.15);
		&:hover, &:focus {
			background: #d97426;
			border-color: #ad5d1e;
			-webkit-box-shadow: inset 0 1px 0 #e59e66;
		    box-shadow: inset 0 1px 0 #e59e66;
		}
	}
}


#crfw-recovery-graph {
	width: 100%;
	height: 250px;
}

.crfw-summary-stat {
	float: left;
	text-align: center;
	color: #f0f0f0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	p {
		padding: 0em 0em 1em 0em;
		strong {
			display: block;
			width: 100%;
			font-size: 350%;
		}
	}
	&.crfw-summary-stat-pending {
		background-color: #555;
	}
	&.crfw-summary-stat-recovery {
		background-color: #d46f15;
	}
	&.crfw-summary-stat-recovered {
		background-color: #191;
	}
	&.crfw-summary-stat-unrecovered {
		background-color: #911;
	}
}

@media screen and (max-width: 960px) {
	.crfw-summary-stat {
		width: 46%;
		margin: 0.5em;
	}
}

@media screen and (min-width: 961px) {
	.crfw-summary-stat {
		width: 24%;
		margin: 0.5em;
		&.first {
			margin-left: 0;
		}
		&.last {
			margin-right: 0;
		}
	}
}